/**
 * 原子化公用样式
 */

@import './theme.scss';

//常用字色
.c-primary {
  color: $c-primary;
}

//字号
.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

//字重
.fw-m {
  font-weight: 500;
}

.fw-b {
  font-weight: bold;
}

.fw-bb {
  font-weight: bolder;
}

//文字对齐方式
.t-l {
  text-align: left;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}

//间距
.ml-s {
  margin-left: 5px;
}

.ml-m {
  margin-left: 10px;
}

.ml-l {
  margin-left: 15px;
}
.mr-s {
  margin-right: 5px;
}

.mr-m {
  margin-right: 10px;
}

.mr-l {
  margin-right: 15px;
}

.mt-s {
  margin-top: 5px;
}

.mt-m {
  margin-top: 10px;
}

.mt-l {
  margin-top: 15px;
}

.mb-s {
  margin-bottom: 5px;
}

.mb-m {
  margin-bottom: 10px;
}

.mb-l {
  margin-bottom: 15px;
}

//不换行
.no-wrap {
  white-space: nowrap;
}

//flex
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-d-c {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-a-s {
  align-items: flex-start;
}

.flex-a-c {
  align-items: center;
}

.flex-a-e {
  align-items: flex-end;
}

.flex-j-s {
  justify-content: flex-start;
}

.flex-j-c {
  justify-content: center;
}

.flex-j-e {
  justify-content: flex-end;
}

.flex-j-b {
  justify-content: space-between;
}

.flex-j-a {
  justify-content: space-around;
}

//宽度
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-0 {
  height: 0;
}

//滚动
.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

//定位
.ps-r {
  position: relative;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.not-allowed {
  cursor: not-allowed;
}
