* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font:
    normal 12px Helvetica Neue,
    Arial,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    微软雅黑,
    Heiti,
    黑体,
    sans-serif;
}

/* 使用伪元素清除浮动 */
.clearfix::before,
.clearfix::after {
  display: block;
  visibility: none;
  clear: both;
  height: 0;
  content: '';
  line-height: 0;
}
